<div id="block-footer" class="clearfix">
	<div class="container">
		<footer id="footer" class="grid-block">
			<div class="module deepest">
				<div class="socials">
					<a class="twitter" href="http://twitter.com/DoctorsOfCHP" title="Follow us on Twitter"></a>
				</div>
				<a href="/terms">Legal Information, Copyright, Terms of Use</a>, and
				<a href="/storage/pdf/HIPAA_Policy_Update_2013.pdf" target="_blank">HIPPA Information</a>
				&copy; 2008 - 2016 Children's Health Partners All Rights Reserved.
				<br>Children's Health Partners name and logo are registered trademarks.		
			</div>	
		</footer>
	</div>
</div>
