<header class="container">
	<a id="logo" href="/"><img src="/img/chp-logo-main.png" alt="logo"></a>
	<div id="toolbar" class="clearfix">
		<div class="pull-right">
		<div>
			<i class="icon-phone"></i>
			<span>Call us directly:</span>
			<span class="phone">630-848-1700</span>
		</div>
			<div class="hidden-phone"> 
		  		<a href="/office-information"><i class="icon-map-marker"></i></a>
          		<address>2007 95th Street Lower Level, Suite A Naperville, IL 60564</address>
			</div>
        	<div class="visible-phone">
              <a href="/office-information" style="font-weight: bold;"><address>2007 95th Street Lower Level, Suite A Naperville, IL 60564</address></a>
          	</div>
		</div>
	</div>

	<nav id="menu" class="btn-group hidden-phone">
		<a href="/doctors" class="btn {% if page.active == 'doctors' %}active{% endif %}">Doctors</a>
		<a href="/new-patients" class="btn {% if page.active == 'new-patients' %}active{% endif %}">New Patients</a>
		<a href="/health-information" class="btn {% if page.active == 'health' %}active{% endif %}">Health Info</a>
		<a href="/office-information" class="btn {% if page.active == 'office' %}active{% endif %}">Office Info</a>
		<a href="/scheduling" class="btn {% if page.active == 'schedule' %}active{% endif %}">Scheduling</a>
		<a href="/forms-billing" class="btn {% if page.active == 'billing' %}active{% endif %}">Forms & Billing</a>
	</nav>
	
	<nav id="menu-phone" class="btn-group btn-group-vertical visible-phone">
		<a href="/doctors" class="btn {% if page.active == 'doctors' %}active{% endif %}">Doctors</a>
		<a href="/new-patients" class="btn {% if page.active == 'new-patients' %}active{% endif %}">New Patients</a>
		<a href="/health-information" class="btn {% if page.active == 'health' %}active{% endif %}">Health Info</a>
		<a href="/office-information" class="btn {% if page.active == 'office' %}active{% endif %}">Office Info</a>
		<a href="/scheduling" class="btn {% if page.active == 'schedule' %}active{% endif %}">Scheduling</a>
		<a href="/forms-billing" class="btn {% if page.active == 'billing' %}active{% endif %}">Forms & Billing</a>
	</nav>
</header>