<ul class="breadcrumb">
  <li><a href="/">Home</a></li>
  <li><a href="/health-information">Medication</a></li>
  <li class="active">{{ page.breadcrumb }}</li>
</ul>
<div id="fb-root"></div>
<div id="social" class="pull-right">
  <div class="plusone">
    <g:plusone size="medium" annotation="none"></g:plusone>
  </div>
  <div class="twitter">
      <a href="https://twitter.com/share" class="twitter-share-button" data-count="none" data-via="dominoc">Tweet</a>
  </div>
  <div class="fb-like" data-send="true" data-layout="button_count" data-width="90" data-show-faces="false" data-action="recommend"></div>
</div>
